<!DOCTYPE html>
<html lang="es">
<head>
	<title>Capital Humano - Activación</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    {% include 'partials.favicon' %}

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="/assets/template/css/app.css?v={{ date().timestamp }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
</head>
<body class="login-body">

{% include 'partials.header' %}
<main id="main-login" class="row">
	<div class="login-content">
		<div class="pane pane-basic login-box">
			<div class="pane-header">
				<h2>
					Activa tu cuenta
				</h2>
			</div>
			<form method="post" action="{{ url('/servicio/activacion') }}">
				<input type="hidden" name="_token" value="{{ csrf_token() }}">
				<input type="hidden" name="activationCode" value="{{ request.activationCode }}">

				<div class="form-group">
					<button class="btn btn-main btn-group-justified">
						<i class="fa fa-check"></i>
						Activar
					</button>
				</div>
			</form>
            {% if app.session.has('Current.message') %}
			<div class="alert {{ app.session.get('Current.message.class') }}" role="alert">
                {{ app.session.get('Current.message.normal') }}
			</div>
            {% endif %}
		</div>
		<div class="identity">
			<hr>
			<div class="item">
				<img src="{{url('/assets/template/images/Logo_CDMX.png')}}" width="170" alt="Secretaría de Obras de la CDMX">
				 <img width="100" height="30" src="{{asset('/') }}assets/template/images/Logo_Dependencia_n.png" width="170" alt="Secretaría de Finanzas de la CDMX">
			</div>
			<hr>
		</div>
	</div>
</main>

<div class="cover">
	<img src="/images/decoration.png" alt="">
</div>

<script type="text/javascript" src="{{url('/assets/template/js/jquery.js')}}"></script>
<script type="text/javascript" src="{{url('/assets/template/js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{url('/assets/template/js/ui-functions.js')}}"></script>

</body>
</html>
