<footer class="footer">
    <div class="footer-child">
        <div class="container">
            <div class="footer-section--c4">
                <div class="footer-card">
                    <div class="footer-card-logo">
                        <img id="padding1"  width="220" height="65" src="{{asset('/') }}assets/template/images/Logo_Dependencia_alt.png" alt="Logo de la Dependencia">
                    </div>
                    <div class="footer-card-logo">
                        <center><h3>DGTC</h3></center>
                    </div>
                    {#<div class="footer-card-data">
                        <div class="footer-title" style="margin-bottom: 14px;">
                            <h3>
                                Contacto
                            </h3>
                        </div>
                        <div class="footer-card-address">
                            <div class="Text">
                                <strong>
                                    <a href="mailto:reconstruccion@cdmx.gob.mx">
                                        correo@cdmx.gob.mx
                                    </a>
                                </strong>
                            </div> 
                        </div>
                    </div>#}
                </div> 
                <ul class="footer-social">
                    {#<li class="footer-title">
                        <h3>
                            Redes sociales
                        </h3>
                    </li>
                    <li class="footerSocial-item">

                        <a href="https://es-es.facebook.com/FinanzasCDMX?sk=wall" target="_blank"><i
                                    class="fa fa-facebook"></i></a>
                    </li>
                    <li class="footerSocial-item">

                        <a href="https://twitter.com/Finanzas_CDMX" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="footerSocial-item">

                        <a href="https://www.youtube.com/channel/UC2wcbLYzyWq5kL2t0M2MrFA?feature=guide"
                           target="_blank"><i class="fa fa-youtube"></i></a>
                    </li>#}
                </ul>
            </div>
            <div class="footer-section--c3">
                <div class="footer-links">
                    <ul class="footer-links-content">
                        <li class="footer-title">
                            <h3>
                                Navegación
                            </h3>
                        </li>
                        <li class="footer-links-link"><a href="{{asset('/') }}">Inicio</a></li>
                        <!-- Acerca de -->
                        <li class="footer-links-link">
                            <a href="{{ url('/acerca-de/uso-del-sistema') }}">
                                Uso del sistema
                            </a>
                        </li>
                        <li class="footer-links-link">
                            <a href="{{ url('/acerca-de/quejas-y-sugerencias') }}">
                                Quejas y sugerencias
                            </a>
                        </li>
                        <li class="footer-links-link">
                            <a href="{{ url('/acerca-de/preguntas-frecuentes') }}">
                                Preguntas frecuentes
                            </a>
                        </li>
                        <li class="footer-links-link">
                            <a href="{{ url('/login') }}">
                                Iniciar sesión
                            </a>
                        </li>
                        <li class="footer-links-link">
                            <a href="{{ url('/servicio/registro') }}">
                                Registrarse
                            </a>
                        </li>
                        <li class="footer-links-link">
                            <a href="{{ url('/servicio/registro') }}">
                                Chat
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-section--c3">
                <div class="footer-links">
                    <ul class="footer-links-content">
                        <li class="footer-title">
                            <h3>
                                Sitios relacionados
                            </h3>
                        </li>
                        <li class="footer-links-link">
                            <a href="http://www.finanzas.cdmx.gob.mx/" target="_blank">
                                Secretaría de Administración y Finanzas
                            </a>
                        </li>
                    <!--    <li class="footer-links-link">
                            <a href="http://reporte.dgadp.cdmx.gob.mx/unilab/" target="_blank">
                                Universidad Laboral CDMX
                            </a>
                        </li>
                        <li class="footer-links-link">
                            <a href="http://reporte.dgadp.cdmx.gob.mx/caci/" target="_blank">
                                Centro de Atención y Cuidado Infantil
                            </a>
                        </li>-->
                    </ul>
                </div>
            </div>

            <div class="footer-section--c2">
                <div class="footer-banners">
                    <div class="footer-banners-item">
                        <a href="http://www.finanzas.cdmx.gob.mx/"
                           target="_blank">
                            <img width="320" height="70"
                                 src="{{asset('/') }}assets/template/images/Logo_Dependencia_alt.png"
                                 alt="Imagen">
                        </a>
                    </div>
                  <!--
                    <div class="footer-banners-item">
                        <a href="http://www.finanzas.cdmx.gob.mx/"
                           target="_blank">
                            <img width="320" height="180"
                                 src="{{asset('/') }}assets/template/images/sections/footer/sefin.jpg"
                                 alt="Imagen">
                        </a>
                    </div>
                    <div class="footer-banners-item">
                        <a href="http://www.finanzas.cdmx.gob.mx/"
                           target="_blank">
                            <img width="320" height="180"
                                 src="{{asset('/') }}assets/template/images/sections/footer/sefin.jpg"
                                 alt="Imagen">
                        </a>
                    </div>
                    
                    <div class="footer-banners-item">
                        <a href="http://www.proteccioncivil.cdmx.gob.mx/"
                           target="_blank">
                            <img width="320" height="70"
                                 src="{{asset('/') }}assets/template/images/sections/footer/sefin.jpg"
                                 alt="Imagen">
                        </a>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
    <div class="footer-child">
        <div class="container">
            <div class="footer-info">
                <div class="footer-info-link">
                    <b>
                        Capital Humano CDMX {{ app.session.get('Current.version') }}
                    </b>
                </div>
                <!--
                <div class="footer-info-link">
                    <a href="{{asset('/') }}aviso-privacidad">
                        Aviso de privacidad
                    </a>
                </div>
                <div class="footer-info-link">
                    <a href="{{asset('/') }}declaracion-veracidad">
                        Declaración de veracidad
                    </a>
                </div>
                -->
            </div>
        </div>
    </div>
</footer>