<!DOCTYPE html>
<html lang="es">
<head>
	<title>Encuesta de calidad del servicio</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{{asset('/') }}assets/template/css/app.css?v={{ date().timestamp }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
<header id="header-app" class="header-app">
    <div class="header-content">
        <div class="header-logo">
            <a href="{{url('/')}}">
                <div class="header-logo-icon">
                    <!--<i class="fa fa-laptop"></i>-->
                    <img src="{{url('/assets/template/images/Logo_ch.svg')}}" width="80" alt="">
                </div>
                <div class="header-logo-name" style="margin-left:20px">
                    <span class="hidden-xs">Capital Humano</span>
                    <span class="visible-xs">Capital Humano</span>
                    <small class="hidden-xs">Secretaría de Administración y Finanzas</small>
                    <small class="visible-xs">SEFIN CDMX</small>
                </div>
            </a>
        </div>
        <div class="header-show-nav">
            <button class="btn btn-default" id="show-sidebar" type="button">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="header-options">
            <ul>
                <li class="dropdown user">
                    <a  class="dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                        <span class="pic"><img src="{{ asset('assets/template/images/avatar-b.jpg') }}" alt="User pic"></span>
                        <span class="name">{{ [app.session.get('Session.nombres')]|ucwords}} <span class="hidden-xs">{{ [app.session.get('Session.paterno'),app.session.get('Session.materno')]|ucwords }}</span></span>
                      
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>

<main class="row">

	<div class="login-content">
		<div class="pane pane-basic login-box">
			<div class="pane-header">
				<h2 align="center">Necesidades de profesionalización en los trabajadores y trabajadoras del Gobierno de la Ciudad de México</h2>
                <br>
                <br>

			</div>

            <form  action= "{{ url('/dataEncuesta')}}" method="POST">
                <input type="hidden" name="_token" value="{{ csrf_token() }}">
                <input type="hidden" name="tipo" id="tipo" value="1">
                <input type="hidden" name="modulo" id="modulo" value="15">

                <div align="Center"><label>8. Interés en continuar estudios</label> </div><br><br>



                    <label></label> 

                    <div class="form-group">

                        <label>8.1. En 2019 ¿Te interesa emprender el estudio de la carrera de tu interes en un sistema en línea o abierto?</label> <br> <br>
                        <div align="justify">
                            <input type="radio" name="1_1" id="1.1" value="si" required>Sí<br>
                            <input type="radio" name="1_1" id="1.1" value="no" required> No <label class="btn-danger">Si su respuesta ha sido no salte a la pregunta 8.7</label><br>
                        </div>

                </div>

                <div class="form-group">

                    <label>8.2. De las siguientes, ¿cuál es la principal razón por la que te interesa continuar tus estudios?</label> <br> <br>
                    <div align="justify">
                            <input type="radio" name="1_2" id="8.2" value="Me ayudaría a tener un empleo mejor pagado." >Me ayudaría a tener un empleo mejor pagado.<br>
                            <input type="radio" name="1_2" id="8.2" value="Me ayudaría a desempeñar mejor mi actual trabajo." > Me ayudaría a desempeñar mejor mi actual trabajo.<br>
                            <input type="radio" name="1_2" id="8.2" value="Me sentiría personalmente más satisfecho/a." >Me sentiría personalmente más satisfecho/a.<br>
                         
                    </div>

                </div>

                <div></div>

                <div class="form-group">

                    <label>8.3. Si continuaras tus estudios en un sistema en línea o abierto, ¿dónde podrías estudiar mejor?</label> <br> <br>
                    <div align="justify">
                            <input type="radio" name="1_3" id="8.3" value="En mi casa" >En mi casa<br>
                            <input type="radio" name="1_3" id="8.3" value="En mi lugar de trabajo" > En mi lugar de trabajo<br>
                            <input type="radio" name="1_3" id="8.3" value="En un aula con internet" >En un aula con internet<br>
                            <input type="radio" name="1_3" id="8.3" value="En un café internet o espacio público con internet" > En un café internet o espacio público con internet<br>
                    </div>

                </div>

                <div class="form-group">

                    <label>8.4. Si continuaras tus estudios en un sistema en línea o abierto, ¿en qué momento podrías estudiar mejor?</label> <br> <br>
                    <div align="justify">
                            <input type="radio" name="1.4" id="8.4" value="Fines de semana" >Fines de semana<br>
                            <input type="radio" name="1.4" id="8.4" value="Entre semana antes de mi jornada laboral" > Entre semana antes de mi jornada laboral<br>
                            <input type="radio" name="1.4" id="8.4" value="Entre semana después de mi jornada laboral" >Entre semana después de mi jornada laboral<br>
                            <input type="radio" name="1.4" id="8.4" value="En cualquier horario" > En cualquier horario<br>
                    </div>

                </div>


                <div class="form-group">

                    <label> 8.5. Considerando que tu jornada laboral permaneciera sin cambios ¿Cuántas horas a la semana podrías dedicar al estudio?</label> <br> <br>
                    <div align="justify">
                        <input type="number" name="1_5HH" id="8.5" placeholder="horas" min="0" max="72"  >
                    </div>

                </div>  

                <div class="form-group">

                    <label> 8.6. ¿Cuál de las siguientes carreras te gustaría estudiar? Elige dos opciones</label> <br> <br>
                    <div align="justify">

                        <label>Primera opción</label> <br> <br>
                        <select id="8.5" name="1_6a" >
                                <option value="" >Selecciona una Opción</option>
                                <option value="Administración de empresas">Administración de empresas</option>
                                <option value="Administración de la salud">Administración de la salud</option>
                                <option value="Administración de recursos humanos">Administración de recursos humanos</option>
                                <option value="Administración de tecnologías de información">Administración de tecnologías de información</option>
                                <option value="Administración pública">Administración pública</option>
                                <option value="Archivonomía ">Archivonomía </option>
                                <option value="Arquitectura">Arquitectura</option>
                                <option value="Biblioteconomía">Biblioteconomía</option>
                                <option value="Biotecnología">   Biotecnología</option>
                                <option value="Ciencias de la comunicación">Ciencias de la comunicación</option>
                                <option value="Ciencias políticas">Ciencias políticas</option>
                                <option value="Comercio internacional">Comercio internacional</option>
                                <option value="Computación administrativa">Computación administrativa</option>
                                <option value="Contaduría">Contaduría</option>
                                <option value="Criminología y criminalística">Criminología y criminalística</option>
                                <option value="Derecho">   Derecho</option>
                                <option value="Desarrollo sustentable">Desarrollo sustentable</option>
                                <option value="Diseño">   Diseño</option>
                                <option value="Economía">Economía</option>
                                <option value="Educación para la salud">Educación para la salud</option>
                                <option value="Enfermería">Enfermería</option>
                                <option value="Finanzas">   Finanzas</option>
                                <option value="Gestión territorial">Gestión territorial</option>
                                <option value="Historia">   Historia</option>
                                <option value="Informática">   Informática</option>
                                <option value="Ingeniería en redes">Ingeniería en redes</option>
                                <option value="Ingeniería industrial">Ingeniería industrial</option>
                                <option value="Lengua y literatura   ">Lengua y literatura    </option>
                                <option value="Logística y transporte">Logística y transporte</option>
                                <option value="Matemáticas">   Matemáticas</option>
                                <option value="Mercadotecnia">   Mercadotecnia</option>
                                <option value="Nutrición">   Nutrición</option>
                                <option value="Pedagogía">   Pedagogía</option>
                        </select>
                        <br><br>

                    </div>

                    <div class="form-group">

                    <label> 8.6. ¿Cuál de las siguientes carreras te gustaría estudiar? Elige dos opciones</label> <br> <br>
                    <div id="8.6" align="justify">
                        <label>Segunda opción</label> <br> <br>
                        <select name="1_6b" id="8.6" >
                                <option value="" >Selecciona una Opción</option>
                                <option value="Administración de empresas"  >Administración de empresas</option>
                                <option value="Administración de la salud">Administración de la salud</option>
                                <option value="Administración de recursos humanos">Administración de recursos humanos</option>
                                <option value="Administración de tecnologías de información">Administración de tecnologías de información</option>
                                <option value="Administración pública">Administración pública</option>
                                <option value="Archivonomía ">Archivonomía </option>
                                <option value="Arquitectura">Arquitectura</option>
                                <option value="Biblioteconomía">Biblioteconomía</option>
                                <option value="Biotecnología">   Biotecnología</option>
                                <option value="Ciencias de la comunicación">Ciencias de la comunicación</option>
                                <option value="Ciencias políticas">Ciencias políticas</option>
                                <option value="Comercio internacional">Comercio internacional</option>
                                <option value="Computación administrativa">Computación administrativa</option>
                                <option value="Contaduría">Contaduría</option>
                                <option value="Criminología y criminalística">Criminología y criminalística</option>
                                <option value="Derecho"> Derecho</option>
                                <option value="Desarrollo sustentable"> Desarrollo sustentable</option>
                                <option value="Diseño"> Diseño</option>
                                <option value="Economía"> Economía</option>
                                <option value="Educación para la salud"> Educación para la salud</option>
                                <option value="Enfermería"> Enfermería</option>
                                <option value="Finanzas"> Finanzas</option>
                                <option value="Gestión territorial"> Gestión territorial</option>
                                <option value="Historia"> Historia</option>
                                <option value="Informática"> Informática</option>
                                <option value="Ingeniería en redes"> Ingeniería en redes</option>
                                <option value="Ingeniería industrial"> Ingeniería industrial</option>
                                <option value="Lengua y literatura   "> Lengua y literatura    </option>
                                <option value="Logística y transporte"> Logística y transporte</option>
                                <option value="Matemáticas"> Matemáticas</option>
                                <option value="Mercadotecnia"> Mercadotecnia</option>
                                <option value="Nutrición"> Nutrición</option>
                                <option value="Pedagogía"> Pedagogía</option>
                        </select>
                        <br><br>

                    </div>

                    <label> 8.7 De las siguientes razones ¿Cuál es la principal por la que no te interesa seguir estudiando? </label> <br> <br>
                    <div class="form-group">
                        <select id="1.7" name="8.7">

                            <option value="">Selecciona una opción</option>
                            <option value="No tengo tiempo">No tengo tiempo.</option>
                            <option value="Ya estudié suficiente">Ya estudié lo suficiente.</option>
                            <option value="Por el momento no me interesa seguir estudiando">Por el momento no me interesa seguir estudiando.</option>
                            <option value="Otra">Otra.</option>



                        </select>
                    </div>

                </div>         
                



                <div class="form-group">
                    <button id="validador" type="submit" class="btn btn-main btn-group-justified">Continuar </button>

                </div>

            </form>

        </div>
			
	</div>

    <form action="{{url('/usuario/inicio')}}">
    <input type="submit" class="btn btn-danger" value="Salir de la encuesta" />
    </form>

</main>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">
    var idleTime = 0;
    $(document).ready(function () {
    //Increment the idle time counter every minute.
    var idleInterval = setInterval(timerIncrement, 60000); // 1 minute

    //Zero the idle timer on mouse movement.
    $(this).mousemove(function (e) {
        idleTime = 0;
    });
    $(this).keypress(function (e) {
        idleTime = 0;
    });
});

function timerIncrement() {
    idleTime = idleTime + 1;
    if (idleTime > 3) { // 20 minutes
        window.location.href = "{{url('/usuario/logout')}}";
    }
}
</script>
</body>
</html>
