<!DOCTYPE html>
<html lang="es">
<head>
	<title>Encuesta de calidad del servicio</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{{asset('/') }}assets/template/css/app.css?v={{ date().timestamp }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
<header id="header-app" class="header-app">
    <div class="header-content">
        <div class="header-logo">
            <a href="{{url('/')}}">
                <div class="header-logo-icon">
                    <!--<i class="fa fa-laptop"></i>-->
                    <img src="{{url('/assets/template/images/Logo_ch.svg')}}" width="80" alt="">
                </div>
                <div class="header-logo-name" style="margin-left:20px">
                    <span class="hidden-xs">Capital Humano</span>
                    <span class="visible-xs">Capital Humano</span>
                    <small class="hidden-xs">Secretaría de Administración y Finanzas</small>
                    <small class="visible-xs">SEFIN CDMX</small>
                </div>
            </a>
        </div>
        <div class="header-show-nav">
            <button class="btn btn-default" id="show-sidebar" type="button">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="header-options">
            <ul>
                <li class="dropdown user">
                    <a  class="dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                        <span class="pic"><img src="{{ asset('assets/template/images/avatar-b.jpg') }}" alt="User pic"></span>
                        <span class="name">{{ [app.session.get('Session.nombres')]|ucwords}} <span class="hidden-xs">{{ [app.session.get('Session.paterno'),app.session.get('Session.materno')]|ucwords }}</span></span>
                      
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>

<main class="row">



	<div class="login-content">
		<div class="pane pane-basic login-box">
			<div class="pane-header">
				<h2 align="center">Cuestionario de Benificiaros de UNILAB</h2>
                <br>
                <br>
			</div>

            <form  action= "{{ url('/dataEncuesta')}}" method="POST" >
                 <input type="hidden" name="_token" value="{{ csrf_token() }}">
                 <input type="hidden" name="tipo" id="tipo" value="1">
                <input type="hidden" name="modulo" id="modulo" value="12">

                <div align="center">
            <label>6. Autoevaluación</label> <br> <br>
                </div>

             <div class="form-group">

                <table cellspacing="50" cellpadding="10" style="width: 100%" border="3">

                    <tr>
                    <th style="width: 45%" >6.1. En una escala del 1 al 6, en la que 1 es muy malo y 6 es excelente, cómo calificas tu desempeño en:</th>
                    <th align="center" >Muy malo</th> 
                    <th colspan="4"></th>
                    <th align="center">Excelente</th>
                    </tr>
                    

                    <tr>
                    <td>a. el cumplimiento de ejercicios y lecturas.</td>
                    <td align="center" ><input type="radio" name = "1_1a"id="1_1a" value="1" required> 1 <br></td>
                    <td align="center" ><input type="radio" name = "1_1a"id="1_1a" value="2" required> 2 <br></td>
                    <td align="center" ><input type="radio" name = "1_1a"id="1_1a" value="3" required> 3 <br></td>
                    <td align="center" ><input type="radio" name = "1_1a"id="1_1a" value="4" required> 4 <br></td>
                    <td align="center" ><input type="radio" name = "1_1a"id="1_1a" value="5" required> 5 <br></td>
                    <td align="center" ><input type="radio" name = "1_1a"id="1_1a" value="6" required> 6<br></td>
                    </tr>

                    <tr>
                    <td> b. el uso de las herramientas y libros de apoyo para profundizar en temas de su interés.</td>
                    <td align="center" ><input type="radio" name = "1_1b"id="1_1b" value="1" required> 1 <br></td>
                    <td align="center" ><input type="radio" name = "1_1b"id="1_1b" value="2" required> 2 <br></td>
                    <td align="center" ><input type="radio" name = "1_1b"id="1_1b" value="3" required> 3 <br></td>
                    <td align="center" ><input type="radio" name = "1_1b"id="1_1b" value="4" required> 4 <br></td>
                    <td align="center" ><input type="radio" name = "1_1b"id="1_1b" value="5" required> 5 <br></td>
                    <td align="center" ><input type="radio" name = "1_1b"id="1_1b" value="6" required> 6<br></td>
                    </tr>

                    <tr>
                    <td>c. la cantidad de tiempo que dedicas al estudio. </td>
                    <td align="center" ><input type="radio" name = "1_1c"id="1_1c" value="1" required> 1 <br></td>
                    <td align="center" ><input type="radio" name = "1_1c"id="1_1c" value="2" required> 2 <br></td>
                    <td align="center" ><input type="radio" name = "1_1c"id="1_1c" value="3" required> 3 <br></td>
                    <td align="center" ><input type="radio" name = "1_1c"id="1_1c" value="4" required> 4 <br></td>
                    <td align="center" ><input type="radio" name = "1_1c"id="1_1c" value="5" required> 5 <br></td>
                    <td align="center" ><input type="radio" name = "1_1c"id="1_1c" value="6" required> 6 <br></td>
                    </tr>

                </table>

                <br>
                

                <div class="form-group">
                    <button id="validador" type="submit" class="btn btn-main btn-group-justified">Continuar </button>
                </div>

            </form>

            </div>
			
		</div>
	</div>
    <form action="{{url('/usuario/inicio')}}">
    <input type="submit" class="btn btn-danger" value="Salir de la encuesta" />
    </form>

</main>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">
    var idleTime = 0;
    $(document).ready(function () {
    //Increment the idle time counter every minute.
    var idleInterval = setInterval(timerIncrement, 60000); // 1 minute

    //Zero the idle timer on mouse movement.
    $(this).mousemove(function (e) {
        idleTime = 0;
    });
    $(this).keypress(function (e) {
        idleTime = 0;
    });
});

function timerIncrement() {
    idleTime = idleTime + 1;
    if (idleTime > 3) { // 20 minutes
        window.location.href = "{{url('/usuario/logout')}}";
    }
}
</script>
</body>
</html>