<!DOCTYPE html>
<html lang="es">
<head>
	<title>Encuesta de calidad del servicio</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{{asset('/') }}assets/template/css/app.css?v={{ date().timestamp }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
<header id="header-app" class="header-app">
    <div class="header-content">
        <div class="header-logo">
            <a href="{{url('/')}}">
                <div class="header-logo-icon">
                    <!--<i class="fa fa-laptop"></i>-->
                    <img src="{{url('/assets/template/images/Logo_ch.svg')}}" width="80" alt="">
                </div>
                <div class="header-logo-name" style="margin-left:20px">
                    <span class="hidden-xs">Capital Humano</span>
                    <span class="visible-xs">Capital Humano</span>
                    <small class="hidden-xs">Secretaría de Administración y Finanzas</small>
                    <small class="visible-xs">SEFIN CDMX</small>
                </div>
            </a>
        </div>
        <div class="header-show-nav">
            <button class="btn btn-default" id="show-sidebar" type="button">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="header-options">
            <ul>
                <li class="dropdown user">
                    <a  class="dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                        <span class="pic"><img src="{{ asset('assets/template/images/avatar-b.jpg') }}" alt="User pic"></span>
                        <span class="name">{{ [app.session.get('Session.nombres')]|ucwords}} <span class="hidden-xs">{{ [app.session.get('Session.paterno'),app.session.get('Session.materno')]|ucwords }}</span></span>
                      
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>

<main class="row">

	<div class="login-content">
		<div class="pane pane-basic login-box">
			<div class="pane-header">
				<h2 align="center">Necesidades de profesionalización en los trabajadores y trabajadoras del Gobierno de la Ciudad de México</h2>
                <br>
                <br>

			</div>

            <form  action= "{{ url('/dataEncuesta')}}" method="POST" >
                 <input type="hidden" name="_token" value="{{ csrf_token() }}">
                 <input type="hidden" name="tipo" id="tipo" value="2">
                <input type="hidden" name="modulo" id="modulo" value="1">

                <div align="Center"><label>1. Condiciones laborales</label> </div><br><br>



                    <label></label> 

                    <div class="form-group">

                        <label>1.1. ¿Cuál es tu horario habitual de trabajo en el gobierno de la CDMX?</label> <br> <br>
                        <div align="justify">
                            <label>De: </label> <input type="time" name="1_1in" id="1.1" required> <label>a: </label> <input type="time" name="1_1out" id="1.1" required> <label><h5></h5></label>
                        </div>

                </div>

                <div class="form-group">

                    <label>1.2. ¿Cuánto tiempo ocupas diariamente en trasladarte entre su casa y el trabajo? (Considera los viajes de ida y vuelta al trabajo)</label> <br> <br>
                    <div align="justify">
                    <label>Horas: </label><input type="number" name="1_2HH" id="1.2"  min="0" max="6"> <label>Minutos: </label><input type="number" name="1_2MM" id="1.2" required min="0" max="59" required> 
                    </div>

                </div>

                <div></div>

                <div class="form-group">

                    <label> 1.3. ¿Tienes otra actividad remunerada? </label> <br> <br>
                    <div align="justify">
                        <input onchange="sendAble()" type="radio" name="1_1" id="1.1" value="si" required> Sí<br>
                        <input onchange="sendEnable()" type="radio" name="1_1" id="1.1" value="no" required> No<br>
                    </div>

                    <script type="text/javascript">

                        function sendEnable() {
                            document.getElementById("1.4").disabled = true;
                            document.getElementById("1.4").required = false;
                        }

                        function sendAble() {
                            document.getElementById("1.4").disabled = false;
                            document.getElementById("1.4").required = true;
                        }

                    </script>

                </div>

                <div class="form-group">

                    <label>1.4. ¿Cuántas horas ocupas a la semana en esta otra actividad?</label> <br> <br>
                    <div align="justify">
                    <input type="number" name="1_4" id="1.4" max="50" min="0" required >
                    </div>

                </div>          

                

                <div class="form-group">
                    <button id="validador" type="submit" class="btn btn-main btn-group-justified">Continuar </button>
                </div>

            </form>

        </div>
			
	</div>

    <form action="{{url('/usuario/inicio')}}">
    <input type="submit" class="btn btn-danger" value="Salir de la encuesta" />
    </form>

</main>
<script type="text/javascript">
    var idleTime = 0;
    $(document).ready(function () {
    //Increment the idle time counter every minute.
    var idleInterval = setInterval(timerIncrement, 60000); // 1 minute

    //Zero the idle timer on mouse movement.
    $(this).mousemove(function (e) {
        idleTime = 0;
    });
    $(this).keypress(function (e) {
        idleTime = 0;
    });
});

function timerIncrement() {
    idleTime = idleTime + 1;
    if (idleTime > 3) { // 20 minutes
        window.location.href = "{{url('/usuario/logout')}}";
    }
}
</script>
</body>
</html>